/********************
YOUR STYLES
*******************/

/* Layout */
* { box-sizing: border-box; }

section {
  /* Fallback: Floated in No JS */
  float: left;
  padding: 1em;
}

/* clearfix */
section:after {
  content: '';
  display: block;
  clear: both;
}

article {
    margin: 0 auto;
    padding: 10px;
}

h1 {
    font-size: 6em;
    text-align: center;
    text-transform: uppercase;
}


/* Masonry Styling */
section {
  background: rgba(183, 182, 182, 0.75);
  border: 1px solid black;
  /* vertical space between */
  margin-bottom: 10px;
/*    content width   */
  width: 200px;
}

/* Set Your Own Heights */

.tall {
  height: 600px;
}

.med {
  height: 400px;
}

.short {
  height: 200px;
}

/********************
MEDIA QUERIES
*******************/


/* Mobile */

@media (min-width: 480px) {
    
    font-size: 3em;
}


/* Tablet */

@media (min-width: 768px) {
    
    width: 600px;
}



/* Desktop */

@media (min-width: 1200px) {}



